@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  rgb(124, 22, 22);
  color: #fff;
}

.container {
  max-width: 600px;
  background-color: red;
  padding: 20px 30px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
}

.login_header {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 5px;
  color:  rgb(124, 22, 22);
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

.login_headline {
  font-size: 12px;
  margin-top: 10px;
}

form {
  width: 100%;
  margin: 20px 0;
}

input {
  width: 100%;
  height: 40px;
  display: block;
  border: none;
  margin-bottom: 20px;
  padding: 20px;
  text-transform: uppercase;
  border-color: transparent;
  background-color: transparent;
  border-bottom: 1px solid #ef798a;
  color: #f7a9a8;
  
}

input:focus {
  outline: none;
}

::placeholder {
  color: #f7a9a8;
}

.btn {
  width: 70%;
  padding: 12px 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #f59b9a;
  border: none;
  color: rgb(124, 22, 22);
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{

  box-shadow: inset 6.5em 0 0 0 var(--hover);
  color: #613275;
  background-color: #eca1a0;
}

.bottom {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  font-size: 22px;

}

.bottom .footer_link {
  color: #ef798a;
  text-decoration: none;
}
.footer_text{
  font-family: cursive;
  font-size: 18px;
  color:  rgb(124, 22, 22);
}
.message {
  position: fixed; /* Change from sticky to fixed */
  top: 0;
  left: 33%; /* Center the message horizontally */
  transform: translateY(10%); /* Center the message horizontally */
  width: 100%;
  background-color: transparent;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  gap: 1.5rem;
}
.message span{
  font-size: 2rem;
  color:white;
}

.message i{
  cursor: pointer;
  color:white;
  font-size: 2.5rem;
}

.message i:hover{
  transform: rotate(90deg);
}

.footer_link{
  padding-top: 5px;
  font-size: 20px;
}
#forgot {
  font-size: 25px;
  text-decoration: none;
}